# About page displays details on my data sources and my ERD.

<h1>About PokeGuide!</h1>

<p>My Data sources used in this project..</p>

<ul>
    <li>PokeApi: https://pokeapi.co/api/v2/</li>
    <li>For images i used: https://github.com/fanzeyi/Pokemon-DB</li>
    <li></li>
    <li></li>
</ul>