<h3 class="test">Pokemon List!</h3>

  <div class="row">
	<% @pokemons.each do |x| %>
    <div class="col s12 m2">
      <div class="card-panel">
        <div class="poke_id">
			#<%= x.id %>
        </div>
		<div class="poke_name">
			<%= link_to x.name, x %>
		</div>
		<span>
			<img src="<%= x.image %>">
		</span>
      </div>
    </div>
	<% end %>
  </div>
