@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
    margin-bottom: 50px;
}

footer {
    position:fixed;
    bottom:0px;
    width:100%;
    text-align: center;
 }

 .page-footer {
     padding: 0;
 }

.search_field {
    width: 650px;
    margin: auto;
}

.poke_id {
    font-weight: bold;
}  
.poke_name {
    font-size: 12pt;
}

.card-panel {
    padding: 12px;
    text-align: center;
}