@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
    margin-bottom: 50px;
}

footer {
    position:fixed;
    bottom:0px;
    width:100%;
    text-align: center;
 }

 .page-footer {
     padding: 0;
 }

.search_field {
    width: 650px;
    margin: auto;
}

.poke_id {
    font-weight: bold;
}  
.poke_name {
    font-size: 12pt;
}

.card-panel {
    padding: 12px;
    text-align: center;
}

.show_image {
    height: 300px;
    width: 300px;
}

.show_card {
    margin: auto;
    width: 750px;
}

.inline {
    display: inline;
}

.normal_shiny {
    position: absolute;
    left: -70px;
}

.sprites {
    position: relative;
    display: inline;
}

.card-action {
    margin: auto;
}

.spacer {
    margin-left: 25px;
    margin-right: 25px;
    display: inline;
}

.header {
    text-align: center;
}